html {
    min-height: 100%;
    position: relative;
  }
body{
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f59d19, #fcdbd0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f58b19, #ffd2a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    margin: 0;
    margin-bottom: 10px;
}

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #fff0f0;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e1e0e0;
   }
   
   button:hover::before {
    width: 100%;
   }
   table{
       background-color: #ffffff;
       opacity: 0.7;
   }

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  h2{
    color: #1c1106;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .footer{
    background-color: rgb(0, 0, 0);
    position:absolute;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0;
  }
