html {
    min-height: 100%;
    position: relative;
  }
body{
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f59d19, #fcdbd0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f58b19, #ffd2a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;

}

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #fff0f0;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    font-size: 18px;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    font-size: 18px;
   }
   
   button:hover {
    color: #e1e0e0;
   }
   
   button:hover::before {
    width: 100%;
   }
table{
    background-color: #ffffff;
    opacity: 0.7;
    font-size: 15px;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

  .footer{
    background-color: rgb(0, 0, 0);
    position:absolute;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    bottom: 0;
    font-size: 15px;
  }


  h1 {
    cursor: default;
    position: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin: auto;
    display: block;
    
    -webkit-animation: bounce .3s ease infinite alternate;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: rgb(34, 16, 6);
    text-align: center;
    line-height: 40px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(182, 73, 10, 0.6);
  }

  .form-control{
    font-size: 16px;
    padding: 1.5rem 0.75rem;
  }


/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  /* --moon-mask: ; */
   font-size: 17px;
   position: relative;
   display: inline-block;
   width: 3.5em;
   height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
   opacity: 0;
   width: 0;
   height: 0;
  }
  
  /* The slider */
  .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f4f4f5;
   transition: .4s;
   border-radius: 30px;
  }
  
  .slider:before {
   position: absolute;
   content: "";
   height: 1.4em;
   width: 1.4em;
   border-radius: 20px;
   left: 0.3em;
   bottom: 0.3em;
   background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
   ;
   transition: .4s;
  }
  
  input:checked + .slider {
   background-color: #6fff5c;
  }
  
  input:checked + .slider:before {
   transform: translateX(1.5em);
   background: #6fff5c;
   box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
  }